# Build folders
Bin/
Obj/

# CMake files
**.cmake
**/CMakeLists.txt

# Visual Studio files
**/*.sln
**/*.sln.DotSettings.user
**/*.vcxproj
**/*.vcxproj.user
**/*.vcxproj.filters

# IDE folders
.vs/
.vscode/
.idea/

# OpenCppCoverage files
LastCoverageResults.log
CoverageReport-*