[submodule "Libs/glfw"]
	path = Libs/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Libs/glm"]
	path = Libs/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "Libs/imgui"]
	path = Libs/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Libs/glfw/glfw"]
	path = Libs/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Libs/glm/glm"]
	path = Libs/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "Libs/imgui/imgui"]
	path = Libs/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Libs/stb_image/stb_image"]
	path = Libs/stb_image/stb_image
	url = https://github.com/nothings/stb.git
[submodule "Libs/soloud/soloud"]
	path = Libs/soloud/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "Wiki"]
	path = Wiki
	url = https://github.com/brunopj1/TrianGL.wiki.git
